
body {
  
   background  : #000000;  /* fallback for old browsers */
background    : -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background    : linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
font-family: 'Barlow Semi Condensed', sans-serif;
}


a {
  text-decoration: none;
  color: white;
}
.foo {
  width: 60px;
}
strong {
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

@media only screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
}

/* Header */
.foo {
  width: 60px;
  opacity: 0.4;
}
header {
  display     : flex;
  align-items : center;
  padding     : .5rem 3.75rem;
 }

header .logo-small {
  display: none;
}

header .logo-small,
header .logo-big {
  flex-grow: 1;
}

nav li {
  display: inline;
  padding-right: 2rem;
}

nav li:last-child {
  padding-right: 0;
}

nav a:hover {
  border-bottom : 2px solid white;
    padding-bottom: 4px;

}

@media only screen and (max-width: 990px) {
  header .logo-big {
    display: none;
  }

  header .logo-small {
    display: block;
  }
  .foo {
  width: 60px;
}
.flex-item {
  

margin: 0 auto;
}

}
@media only screen and (max-width: 1066px) {
#bunglon {
  width: 300px;

}

.flex-container {
  
  margin-left: 30px;
}

}

@media only screen and (max-width: 540px) {
  header {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }

  header .logo-small {
    margin-bottom: 1rem;
  }
  .foo {
  width: 60px;
}
#bunglon {
  width: 200px;
}


}


/* pertengahan */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  /* border: 1px solid silver; */
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
} 
.flex-item {
  /* background: tomato; */
  padding: 2px;
  width: 600px;

  margin: 8px 50px;
  
  /* line-height: 50px; */
  color: white;
  font-size: 2em;
  text-align: center;
}
.flex-item h1 {
  margin-top: 90px;
}


#bunglon {
  opacity           : 0.2;
  -moz-transform    : scaleX(-1);
  -o-transform      : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform         : scaleX(-1);
  filter            : FlipH;
  -ms-filter        : "FlipH";
}
.inputan{
  display:block;
  margin: 10px;
}

.inputan  input {
  position: relative;
  height: 30px;
  margin-bottom: 5px;
  bottom: 4px;
  border-style: none;
  border-radius: 10px;
}

#mail {
  padding-bottom: 8px;
  padding-right: 4px; 
  padding-left: 4px;
  border-radius: 5px;
  font-style: italic;
  color: #c62828;
}
.inputan a {
  border: 1px solid #b0bec5;
  border-radius: 8px;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-left: 5px;
  font-weight: 200;
  font-size: smaller;
}

.inputan a:hover {
  background-color:#c62828;
}


.futer {
  text-align: center;
  display: block;
  padding: 10px;
  opacity: 0.7;
  border-top: 2px dotted white;
 color: white; 
 margin-top: 10px;
}




#made {
  color: red;
  font-style: bold;
  font-size: 20px;
  font-weight: 600;
}

.futer img {
  width: 80px;
  /* position: absolute; */

}



/* section FAQ */

.flexxx {
  display: flex;
  list-style: none;
  justify-content: center;
}
.wraap {
  flex-wrap: wrap;
}


.wraap-item {
  /* background: tomato; */
  padding: 5px;
  width: 450px;
 margin : 15px 30px; 
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.flexxx h2 {
  font-style: italic;
}



.bor {
  
  border: 1px solid white;
  padding: 8px;
  border-radius: 20px;
}
.para {
  font-weight: 200;

}



/* ------ TABLE ------------ */
.main-table {
  
  margin-bottom: 230px;
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 200px;
}
.table {
    border-collapse: collapse;
}

thead {
  background-color: magenta;
}

.table td, .table th {
    border: 1px solid white;
    padding: 8px;
  text-align: center;
  color: white;
}



.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #424242;
    color: white;
  }

  tfoot td  {
    background-color: white;
    color: black;

  
  }

  tfoot a {
    color: black;
    padding: 10px;

  }

  tfoot a:hover {
    background-color: red;
    padding: 10px;
    border-radius: 30px;
  }



  .rowme {
    display: flex;

  }

  .rowmewrap {
    flex-wrap:  wrap;

  }
  

  .login {
    
    /* background-color: blue; */
    padding: 10px;
    width: 300px;
    margin: 30px 150px;

  }



  /* login */

  .pencarian {
    
display: inline-block;

  }
  
form {
  border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    opacity: 0.6;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


  .webmail{
  display:block;
  margin: 20px 150px;
}

.webmail  input {
  position: relative;
  height: 30px;
  margin-bottom: 5px;
  bottom: 4px;
  border-style: none;
  border-radius: 10px;
}

.mail-2 {
  padding-bottom: 8px;
  padding-right: 4px; 
  padding-left: 4px;
  border-radius: 5px;
  font-style: italic;
  color: #c62828;
}
.webmail a {
  border: 1px solid #b0bec5;
  border-radius: 8px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  font-weight: 200;
  font-size: smaller;
}

.webmail a:hover {
  background-color:#c62828;
}
